extends ../layout

block content
  .header.header-filter
    .container
      .row
        .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
          .card.card-signup
            form.form(method='', action='')
              .header.header-primary.text-center
                h4 Sign Up
                .social-line
                  a.btn.btn-simple.btn-just-icon(href='#pablo')
                    i.fa.fa-facebook-square
                  a.btn.btn-simple.btn-just-icon(href='#pablo')
                    i.fa.fa-twitter
                  a.btn.btn-simple.btn-just-icon(href='#pablo')
                    i.fa.fa-google-plus
              p.text-divider Or Be Classical
              .content
                .input-group
                  span.input-group-addon
                    i.material-icons face
                  input.form-control(type='text', placeholder='First Name...')
                .input-group
                  span.input-group-addon
                    i.material-icons email
                  input.form-control(type='text', placeholder='Email...')
                .input-group
                  span.input-group-addon
                    i.material-icons lock_outline
                  input.form-control(type='password', placeholder='Password...')
              .footer.text-center
                a.btn.btn-simple.btn-primary.btn-lg(href='#pablo') Get Started
