footer.footer
  .container
    nav.pull-left
      ul
        li
          a(href='/aboutus')
            | About Us
        li
          a(href='http://www.thefinchgroup.com/')
            | Licenses
    .copyright.pull-right
      | © 2016, made with 
      i.fa.fa-heart.heart
      |  by 
      a(href='http://www.thefinchgroup.com/', target='_blank') Finch Group
