nav.navbar.navbar-transparent.navbar-absolute
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navigation-example")
        span.sr-only Toggle navigation
        | 		            
        span.icon-bar
        | 		            
        span.icon-bar
        | 		            
        span.icon-bar
      |         		
      a.navbar-brand(href="http://www.thefinchgroup.com/") The Finch Group
    |         	
    #navigation-example.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href="/login")
            i.fa.fa-sign-in
            |  Sign In
        |
        li
          a(href="/signup")
            i.fa.fa-user-plus
            |  Sign Up
        | 		            
        li
          a.btn.btn-simple.btn-white.btn-just-icon(href="https://twitter.com/CreativeTim", target="_blank")
            i.fa.fa-twitter
        | 		            
        li
          a.btn.btn-simple.btn-white.btn-just-icon(href="https://www.facebook.com/CreativeTim", target="_blank")
            i.fa.fa-facebook-square
        | 					
        li
          a.btn.btn-simple.btn-white.btn-just-icon(href="https://www.instagram.com/CreativeTimOfficial", target="_blank")
            i.fa.fa-instagram