extends layout

block content
  .row
    .page-header
    h3 Transaction
  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='amount') Amount
      .col-sm-7
        input.form-control(type='text', name='amount', id='amount', placeholder='Amount', autofocus, required)
    .form-group 
      label.col-sm-3.control-label(for='send_to') Send To
      .col-sm-7
        select.form-control(name='send_to', id='send_to', placeholder='Send To', required)
            each val, idx in users
              option(valule=val.id) val.username
    .form-group
      .col-sm-offset-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit')
          i.fa.fa-sign-in
          | Send
    .form-group
      .col-sm-offset-3.col-sm-7
        a.btn.btn-link(href='/forgot') Forgot your password?
        hr
